* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
    background: url("Background-Images/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: rgb(18, 139, 209);
    background-attachment: fixed;
}

.container #heading {
    color: #fff;
    font-size: 42px;
    position: absolute;
    top: 30%;
    left: 16%;
    transform: translate(-50%, -50%);
}
.container #slogan {
    margin-top: 10px;
    width: 392px;
    color: #edd6e8;
    position: absolute;
    top: 35%;
    left: 16%;
    transform: translate(-50%, -50%);
    line-height: 23px;
}
.container header {
    height: 50px;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 30px;
    transition: all 0.5s;
    position: absolute;
}
.container header #username {
    color: #fff;
}
.container .sticky {
    background: #fff;
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 10px 50px;
    color: #111;
    z-index: 1;
}
.container .sticky button {
    color: #111;
}
.container .sticky #username {
    color: #111;
}
.container header button {
    height: 30px;
    font-weight: bold;
    background: transparent;
    border: 2px solid greenyellow;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
    transition: all 0.5s;
}
.container header button:hover {
    background: greenyellow;
    color: #333;
}
.loginform,
.signupform {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    border: 1px solid #fff;
    height: 250px;
    width: 500px;
    padding: 10px;
    padding-left: 50px;
    border-radius: 5px;
    z-index: 1;
    color: #fff;
}
.signupform {
    height: 400px;
}
.loginform h2 {
    margin-bottom: 10px;
}
.loginform label,
.signupform label {
    display: block;
    margin-top: 5px;
}
.loginform input,
.signupform input {
    width: 90%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    /* border: 1px solid #999; */
    border: none;
}
.loginform #submit,
.signupform #submitBtn {
    width: 30%;
    font-weight: bold;
    background: transparent;
    border: 2px solid green;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #fff;
}
.loginform button,
.signupform button,
.signupform #resetBtn {
    width: 30%;
    height: 30px;
    font-weight: bold;
    background: transparent;
    border: 2px solid green;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #fff;
}
.LoginActive,
.signupActive {
    top: 50%;
    display: block;
}
.containerActive {
    filter: blur(5px);
}

#alert {
    background: rgba(243, 20, 20, 0.74);
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 10px;
    position: absolute;
    z-index: 1;
}
#alert span {
    font-weight: bold;
}
#alert > span {
    cursor: pointer;
    font-size: 20px;
}
#Toppers {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-attachment: fixed;
}
#ThisYeartoppers {
    width: 60%;
    height: 450px;
    overflow: hidden;
    margin: 20px;
}
#ThisYeartoppers h2 {
    margin: 10px;
}
#ToppersImage {
    width: 100%;
    display: flex;
}
#topper {
    width: 40%;
    height: 410px;
    background: red;
    transition: all 0.5s;
    position: relative;
}
/* #topper::after {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
} */
#topper:hover {
    z-index: 1;
    transform: scale(1.06);
}
#topper img {
    width: 100%;
    height: 100%;
}
#otherTopper {
    width: 60%;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
}
#otherTopper .anotherTopper {
    height: 205px;
    width: 50%;
    overflow: hidden;
    transition: all 0.5s;
}
#otherTopper .anotherTopper:hover {
    transform: scale(1.06);
}
#otherTopper .anotherTopper img {
    height: 100%;
    width: 100%;
}
#previousYearToppers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 40%;
}
.TopperBox {
    height: 150px;
    width: 210px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.2),
        -2px -10px 12px rgba(0, 0, 0, 0.2);
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    background: #fff;
    font-weight: bold;
    color: #333;
}
.TopperBox:hover {
    transform: scale(1.1);
    z-index: 1;
}
#reviewOfOurStudents {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background: #161623;
    align-items: center;
    position: relative;
}
#reviewOfOurStudents::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}
#reviewOfOurStudents::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(30% at 10% 10%);
}
#reviewOfOurStudents h2 {
    z-index: 1;
    color: #fff;
}
#reviewOfOurStudents .students {
    height: 350px;
    width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    border-top: rgba(255, 255, 255, 0.5);
    border-left: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#reviewOfOurStudents .students img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
}
#reviewOfOurStudents .students p {
    text-align: center;
    color: whitesmoke;
}
#teachers {
    width: 98vw;
    height: 150px;
    padding: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
}
#teachers .teacher {
    min-width: 350px;
    width: 350px;
    background: #fff;
    /* box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.3),
        15px 15px 15px rgba(0, 0, 0, 0.2); */
    /* box-shadow: -15px 15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1); */
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.2),
        -2px -10px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all 0.5s;
}

#teachers .teacher img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}

#contactUs {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
    color: #fff;
}
#contactUs a {
    color: #fff;
    text-decoration: none;
}
#contactHeading {
    margin-top: -50px;
    margin-bottom: 50px;
}
#contactUs #offlineContact {
    width: 30%;
}
#contactUs #offlineContact ul li {
    display: flex;
    margin-bottom: 16px;
}
#contactUs #offlineContact ul li span img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
#contactUs form {
    display: flex;
    flex-direction: column;
    width: 41%;
}
#contactUs form div input {
    height: 40px;
    width: 300px;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}
#contactUs form input {
    width: 98%;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 10px;
}
#contactUs form textarea {
    width: 98%;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 10px;
}
#contactUs form #submit {
    width: 150px;
    font-weight: bold;
    background: none;
    border: 2px solid greenyellow;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
}
#contactUs form #submit:hover {
    background: yellowgreen;
    color: #333;
}
